---
layout: master
---

<div class="container">

    <div class="text-justify mx-auto" id="post-page">
        <div class="py-2 text-secondary">
            <a href="javascript:history.back()"> 
                <small><i class="fas fa-arrow-left pr-2 text-secondary-light"></i></small> Back
            </a>
        </div>


        {% assign num_words = page.content | strip_html | number_of_words %}
        {% assign minutes = num_words | divided_by: 200 %}
        {% assign minutes_f = num_words | divided_by: 200.0 %} 
        {% assign minutes_i = num_words | divided_by: 200 %} 

        {% assign diff = minutes_f | minus: minutes_i %} 
        {% if diff >= 0.5 %}
            {% assign minutes = minutes_i | plus: 1 %}
        {% else %}
            {% assign minutes = minutes_i %}
        {% endif %}
        {% if minutes <= 1 %}
            {% assign reading_time = '1' | append: ' min' %}
        {% else %}
            {% assign reading_time = minutes | append: ' min' %}
        {% endif %}

        <h2 class="section-title py-3 border-bottom">{{ page.title }}</h2>
        <small class="py-3 text-secondary-light">
            <span class="float-left">{{ page.subtitle }}</span>
            <span class="float-right">{{ page.date | date: "%d %b, %y" }} <span class="px-2">•</span> {{ reading_time }} read</span>
        </small>

        {% if page.image %}
            <img src="{{ site.baseurl }}/assets/images/posts/{{ page.image }}" alt="" class="img-fluid py-3 pt-md-5" />
        {% endif %}
        
        <article class="py-3 text-secondary">
            {{ content }}
        </article>

        {% assign posts_size = site.posts | size %}
        {% if posts_size > 1 %}
            <div class="py-3"></div>
            <div class="recent-posts mt-5">
                <h6 class="mt-5 pb-3 text-secondary">Other Latest Post{% if posts_size > 2 %}'s{% endif %}</h6>
                <hr>
                {% for post in site.posts limit:4 %}
                    {% if post.url != page.url %} 
                        <a href="{{ site.baseurl }}{{ post.url }}" class="row py-3 mt-3">
                            <div class="col col-12 col-md-9">
                                <h5 class="text-capitalize text-left text-md-justify">{{ post.title }}</h5>
                                <p class="text-secondary text-truncate">
                                    {{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}
                                </p>
                                <hr class="my-1">
                                {% assign num_words = post.content | strip_html | number_of_words %}
                                {% assign minutes = num_words | divided_by: 200 %}
                                {% assign minutes_f = num_words | divided_by: 200.0 %} 
                                {% assign minutes_i = num_words | divided_by: 200 %} 

                                {% assign diff = minutes_f | minus: minutes_i %} 
                                {% if diff >= 0.5 %}
                                    {% assign minutes = minutes_i | plus: 1 %}
                                {% else %}
                                    {% assign minutes = minutes_i %}
                                {% endif %}
                                {% if minutes <= 1 %}
                                    {% assign reading_time = '1' | append: ' min' %}
                                {% else %}
                                    {% assign reading_time = minutes | append: ' min' %}
                                {% endif %}
                                <small class="text-secondary-light float-right py-2 pr-3">
                                    {{ post.date | date: "%d %b, %y" }} <span class="px-2">•</span> {{ reading_time }} read
                                </small>
                            </div>

                            <div class="col d-none d-md-block col-md-3">
                                <div class="img-container">
                                    <img class="img-fluid" src="{{ site.baseurl }}/assets/images/posts/{{ post.image }}" alt="">
                                </div>
                            </div>
                        </a>
                    {% endif %}    
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>